<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>project3-ValiCristianIovu</title>
        <link rel='stylesheet' href='style.css' />
        <link rel="stylesheet" href='bootstrap-3.3.7-dist/css/bootstrap.min.css' />
        
    </head>
    <body>
        <header class="title">Cricket Shop</header>
        
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">

                    <ul class="nav navbar-nav navbar-right">
                        <li id="home"><a href="/index">Acasă</a></li>
                        <li id="cos_cumparaturi"><a href="/cos_cumparaturi">Coș Cumpărături</a></li>
                        <li id="contact"><a href="/contact">Contact Us</a></li>
                    </ul>

                </div>
            </div>
          </nav>

        <main id="continut">
            <%- body -%>
        </main>
        <br><br><hr>
        <footer id="footer">&copy;.2020.Programare web Proiect3-ValiCristianIovu</footer> 
        
    </body>
</html>